<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>
<div class="top_container"></div>


<div class="container">
  <div class="intro">
    <h2>Privacy policy</h2>
  </div>


  <div class="text">
    <p class="subhead">Disclaimer</p>
    <p>Pickles Magazine collects important customer information in an effort to enhance and personalise your shopping experience. This information allows us to communicate with our customers about our products, services and promotions.
    By visiting and using the Pickles Magazine website, you accept the practices described in this Privacy Policy.</p>

    <p class="subhead">Collected information</p>
    <p>When you place an order, submit your account information, our website collects your personal information such as your name, e-mail address and mailing address. Pickles magazine will use your information collected online to process and fulfill your order. Additionally, your e-mail address may be collected at various points within the Pickles Magazine website (including when you place an order with us) so that we can send you any necessary e-mail messages related to your order, such as order confirmations. We also distribute direct marketing materials from Pickles Magazine (via Mailchimp) when you sign up to recieve a newsletter.
    We understand and recognize that we must maintain and use customer information responsibly. <a href="https://mailchimp.com/legal/privacy/" target="_blank">Mailchimp privacy policy</a></p>

    <p class="subhead">Third parties</p>
    <p>Pickles Magazine may post links to third party websites on our site or products, which may include information that we have no control over. When accessing a third party site through our site or products, you acknowledge that you are aware that these third party websites are not screened for privacy or security issues by us, and you release us from any liability for the conduct of these third party websites.
    Please be aware that this Privacy Policy, and any other policies in place, in addition to any amendments, does not create rights enforceable by third parties. Pickles Magazine bears no responsibility for the information collected or used by any advertiser or third party website. You must review their Terms of Service and Privacy to understand how their information collection practices work.</p>

    <p class="subhead">Handling payments</p>
    <p>All payment details are collected and secured by Stripe, our payment provider. Stripe is a committed partner to protecting us, our business and you as our customer. Stripe combines technical and physical safeguards with employee
    policies and procedures to protect your and our information. <a href="https://stripe.com/us/privacy" target="_blank"> Stripe Privacy Policy </a>
    </p>

    <p class="subhead">Cookies</p>
    <p>As you navigate our site, your preferences are remembered through the temporary use of “session” cookies. Cookies enable our systems to gather information about your browser as well as monitor the navigational patterns you take while browsing the site. Pickles Magazine website users have the option to accept or disable cookies at any time through their browsers.
    If you choose to disable your cookies, your user experience may be limited.</p>

    <p class="subhead">Modification of the Privacy Policy</p>

    <p>It is at our sole discretion that Pickles Magazine may modify this Privacy Policy to better serve our customers. Please check back often to review any new modifications that have been made.</p>

  </div>
</div>
