// @font-face {
//   font-family:'geomanist';
//   font-weight: 400;
//   src: font-url('geomanist-regular.otf') format('truetype');
//   src: font-url('geomanist-regular.eot') format('embedded-opentype'),
//       font-url('geomanist-regular.woff2') format('woff2'),
//      font-url('geomanist-regular.woff') format('woff'),
//      font-url('geomanist-regular.ttf') format('truetype'),
//      font-url('geomanist-regular.svg#geomanist-regular') format('svg');
// }
//
@font-face {
  font-family:'geomanist';
  font-weight: 700;
  src: font-url('geomanist-bold.otf') format('truetype');
  src: font-url('geomanist-bold.eot') format('embedded-opentype'),
      font-url('geomanist-bold.woff2') format('woff2'),
     font-url('geomanist-bold.woff') format('woff'),
     font-url('geomanist-bold.ttf') format('truetype'),
     font-url('geomanist-bold.svg#geomanist-bold') format('svg');
}

@font-face {
  font-family:'reader';
  font-weight: 400;
  src: font-url('Reader-Regular.otf') format('truetype');
  src: font-url('Reader-Regular.eot') format('embedded-opentype'),
      font-url('Reader-Regular.woff2') format('woff2'),
      font-url('Reader-Regular.woff') format('woff'),
      font-url('Reader-Regular.ttf') format('truetype'),
      font-url('Reader-Regular.svg#Reader-Regular') format('svg');
}

@font-face {
  font-family:'reader';
  font-weight: 700;
  src: font-url('Reader-Bold.otf') format('truetype');
  src: font-url('Reader-Bold.eot') format('embedded-opentype'),
      font-url('Reader-Bold.woff2') format('woff2'),
      font-url('Reader-Bold.woff') format('woff'),
      font-url('Reader-Bold.ttf') format('truetype'),
      font-url('Reader-Bold.svg#Reader-Bold') format('svg');
}

@font-face {
  font-family:'readerpro';
  font-weight: 900;
  src: font-url('ReaderPro-Black.otf') format('truetype');
  src: font-url('ReaderPro-Black.eot') format('embedded-opentype'),
      font-url('ReaderPro-Black.woff2') format('woff2'),
      font-url('ReaderPro-Black.woff') format('woff'),
      font-url('ReaderPro-Black.ttf') format('truetype'),
      font-url('ReaderPro-Black.svg#ReaderPro-Black') format('svg');
}

  $green: #7ed321;
  $hovergreen: #6CAF22;
  $black: #000000;
  $white: #ffffff;
  $lightgrey: #f7f7f7;
  $grey: #cbcbcb;
  $errorred: #ee3322;


  $font:'reader', Helvetica, Arial, sans-serif;
  $fontpro:'readerpro', Helvetica, Arial, sans-serif;
  $fontcart:'geomanist', Helvetica, Arial, sans-serif;




  $font-size-h1-px:60px;
  $font-size-h2-px:58px;
  $font-size-h3-px:40px;
  $font-size-h4-px:32px;
  $font-size-h5-px:24px;
  $font-size-h6-px:16px;
  $font-size-body-px: 17px;
  $font-size-links-px: 13px;
  $font-size-captions-px: 11px;


  $line-height-body-px: 1.8;
  $line-height-subheadlines-px: 1.5;
  $line-height-headlines-px: 1.2;

  $font-weight-black: 900;
  $font-weight-regular: 400;
  $font-weight-bold: 700;


  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  *:focus {
    outline: none;
  }

  input {
    border: 1px solid $lightgrey;
    border-style: none;
    border-color: none;
    border-image: none;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $grey;
    background-color: transparent;
  }

  input:focus {
	  border: 1px solid $green;
	  outline: 0;
	  border-radius: 0;
    box-shadow: none;
  }

  input:visited {
    box-shadow: none;
    border: 1px solid $black;
    outline: 0;
    border-radius: 0;
  }

  select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid 1px $grey;
    height: 40px;
    overflow: visible;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: black;
    background: none;
    -webkit-appearance: none;
    border-radius: 0;
    width:100%;
    padding: 8px 15px;
    text-transform: uppercase;
  }

  select:hover {
    border: solid 1px $green;
    outline:none;
  }

  select:focus {
    border: solid 1px $green;
    outline:none;
  }

  form abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }

  body {
  	font-family: $font;
   	font-weight: $font-weight-regular;
  	font-size: $font-size-body-px;
  	line-height: $line-height-body-px;
  	background-color: $white;
  	color: $black;
  }

  h1, h2, h3, h4, h5 {
    font-family: $fontpro;
   	font-weight: $font-weight-black;
  	color: $black;
    line-height: $line-height-headlines-px;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: $font-size-h2-px;
    font-weight: $font-weight-black;
  }

  h3 {
    font-size: $font-size-h3-px;
    font-weight: $font-weight-black;
  }

  h4 {
    font-size: $font-size-h4-px;
    font-weight: $font-weight-black;
  }

  h5 {
    font-size:$font-size-h5-px;
    font-weight: $font-weight-black;
  }

  h6 {
    font-family: $font;
    font-size:$font-size-h6-px;
    font-weight: $font-weight-bold;
    line-height: $line-height-subheadlines-px;
  }


  ol, ul {
    list-style: none;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  .white {
    color: $white;
  }

  .white a {
    color: $white;
  }


  div.active {

    text-align: center;
    margin-bottom: 60px;
    position: relative;

    a {
        color: $grey;
        font-weight: $font-weight-black;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
      }

      a.active {
        color: $black;
        border-bottom: 2px solid $black;
        padding-bottom: 3px;
      }
  }


  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }

  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  img, iframe {
    vertical-align: bottom;
    max-width: 100%;
  }

  input, textarea, select {
    font: inherit;
    background-color: transparent;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  table {
    width: 100%;

    th {
      text-align: left;
    }

    th, td {
      vertical-align: middle;
    }

    thead  {
      border-bottom: 2px solid $lightgrey;
      padding: 0 0 20px 0;
    }

    tbody th, tbody td {
      padding: 10px 0 10px 0;
    }

    td img {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }


  header, footer {
    padding: 45px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
    transition: background-color 1s;

    nav a {
      padding-left: 20px;
    }

    nav img {
      padding-bottom: 5px;
    }

  }

  .whiteHeader a {
    color: $white;
  }

  .whiteHeader svg path {
    fill: $white;
  }

  #menu-close path#Shape {
    fill: $white;
  }

  .blackHeader a {
    color: $black;
  }

  .blackHeader svg path {
    fill: $black;
  }


  header.scrolled {
    background-color: $white;
  }


  .menu-toggle {
    z-index: 6;
    position: fixed;
    left: 30px;
    top: 33px;
    cursor: pointer;

    svg.close {
      display: none;
    }

    &.open {
      svg.close {
        display: inline;
      }

      svg.icon {
        display: none;
      }
    }
  }

  h1.logo {
    z-index:5;
    width: 180px;
    position: fixed;
    top: 25px;
  }

  .cart {
    position: fixed;
    right: 30px;
    top: 30px;
    font-weight: 600;
    line-height: 1;
    z-index: 4;

    a {
    font-family: $fontcart;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.2;
    }

    svg {
      vertical-align: bottom;
      max-width: 100%;
      padding-right: 4px;
    }
  }

  .menu {
    background-color: $black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.06, 0.17, 0.2, 1);
    z-index: 5;
  }

  .open {
    transform: translateX(0);
  }

  .menu nav {
    position: absolute;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
  }

  .menu nav a {
    font-family: $fontpro;
    font-size: $font-size-h4-px;
    font-weight: $font-weight-black;
    line-height: $line-height-body-px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: $white;
    text-decoration: none;
    text-align: center;
    padding:0;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .open nav a:nth-child(1) {
    transition-delay: 0.2s;
  }

  .open nav a:nth-child(2) {
    transition-delay: 0.3s;
  }

  .open nav a:nth-child(3) {
    transition-delay: 0.4s;
  }

  .open nav a:nth-child(4) {
    transition-delay: 0.5s;
  }

  .open nav a:nth-child(5) {
    transition-delay: 0.6s;
  }

  .open nav a {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
  }

  .open nav a:hover {
    border-bottom: 2px solid $white;
  }


  footer {
    background-color: $black;
    color: $white;
    text-align: center;
    margin-top: 90px;
  }


  .worldcup {
 	  width: 100%;
    height: 100vh;
    background-image:asset-url('worldcupident.svg');
    background-size: auto 100vh;
    background-position: center;
    z-index: 3;
    position: absolute;
  }

  // .hero {
 	//   display: flex;
  //   height: 100vh;
  //   z-index: -1;
  //   opacity: 1;
  //   transition: opacity 1s;
  //
  // }
  //
  // .hero-image {
 	//   display: flex;
  //   flex-wrap: wrap;
 	//   width: 100%;
  //   justify-content: center;
  //   padding-bottom: 30px;
  // }

  .arrow {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }

  .price h5 {
    font-weight: $font-weight-regular;
    margin: 20px 0px 20px 0px;
  }

  .products_hero {
    text-align: center;
    background-image:asset-url('lifestyle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 250px;
    margin-bottom: 90px;

    h2 {
      color: $white;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .home_hero {
    background-image:asset-url('image_shirt.jpg');
    margin-bottom: 0px;
  }

  .container_3 {
    margin: 0px auto 90px auto;
  }

  .container {
    margin: 0px auto 90px auto;
    max-width: 1160px;
    padding: 0 20px 0 20px;
  }

  .container_2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto 90px auto;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    margin: 30px auto 30px auto;
    max-width: 760px;
    padding: 0px 20px;

    p span {
      font-family: $font !important;
      font-weight: $font-weight-regular !important;
      font-size: $font-size-body-px !important;
      line-height: $line-height-body-px !important;
      letter-spacing: 0.3px !important;
      word-wrap: break-word !important;
      color: $black !important;
    }

    a {
      text-decoration: underline;
      transition: 0.3s;
    }

    a:hover {
      color: $green;
    }
  }



  p.subhead {
    font-weight: $font-weight-black;
    padding-top: 20px;
  }

  .fullwidth-intro {
    text-align: center;
    padding-top: 290px;
    padding-bottom: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
    }

    h6{
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .intro {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      margin: 10px 0px 10px 0;
    }

    h6 {
      margin: 10px 0px 10px 0;
    }

    p {
      max-width: 760px;
      margin: 0 auto 20px auto;
      text-align: center;
    }
  }

  .product_grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;

    .product {
      display: block;
      border-bottom: none;
      color: $white;
      padding: 10px;
      font-size: $font-size-h6-px;
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    h5 {
      margin: 10px 0px 0px 0px;
    }

    img {
      margin-bottom: 20px;
    }

    .button_secondary {
      margin-top: 0px;
      color: $black;
      text-transform: uppercase;
      font-family: $fontpro;
      font-weight: $font-weight-black;
      font-size: $font-size-links-px;
      line-height: 5.25;

      img {
        margin-left: 5px;
      }
    }
  }

  .grid_single {
    border: 1px solid transparent;
    padding: 10px;
    transition: all 0.3s;
  }

  .grid_single:hover {
      border: 1px solid $green;
      padding: 10px;
  }

  .block-copy {
    width: 45%;

    h4 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .block-image-right {
    width: 45%;
    margin-left: 10%;
  }

  .block-image-left {
    width: 45%;
    margin-right: 10%;
  }

.button_primary  {
    margin-top: 24px;
    color: $black;
    background-color: $green;
    border: none;
    padding: 10px 0px 8px 0px;
    display: block;
    text-transform: uppercase;
    font-family: $fontpro;
    font-weight: $font-weight-black;
    font-size:$font-size-links-px;
    text-align: center;
    transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .button_primary:hover  {
    background-color: $hovergreen;
    cursor:pointer
  }

  .button_secondary  {
      margin-top: 0px;
      color: $black;
      text-transform: uppercase;
      font-family: $fontpro;
      font-weight: $font-weight-black;
      font-size: $font-size-links-px;
      line-height: 5.25;
      transition: all 0.3s;

      a {
        transition: all 0.3s;
        color: $black;
      }

      img {
        margin-left: 5px;
        margin-bottom: 20px;
        transition: all 0.3s;
      }
  }

  .button_secondary:hover  {

    color: $green;

    a {
      color: $green;
    }

    img {
      transform: translate(5px,0);
    }
  }


  .button_secondary_left  {
      margin-top: 0px;
      color: $black;
      text-transform: uppercase;
      font-family: $fontpro;
      font-weight: $font-weight-black;
      font-size: $font-size-links-px;
      line-height: 5.25;

      a {
        transition: all 0.3s;
      }

      img {
        margin-right: 5px;
        margin-bottom: 20px;
        transition: all 0.3s;
      }
  }

  .button_secondary_left:hover  {

    a {
      transition: all 0.3s;
      color: $green;
    }

    img {
      transform: translate(-5px,0);
    }
  }

  .arrow {
    padding-left: 5px;
 	  transition: all 0.3s ease-in-out;
  }

  .big_link {
    margin-left:auto;
    margin-right:auto;
    width: 230px;
  }

  .featured h4 {
    text-align: center;
    margin-bottom: 30px;
  }

  .instagram {
    text-align: center;
    margin-bottom: 30px;
    font-family: $fontpro;
    font-size: $font-size-h4-px;
    font-weight: $font-weight-black;
    color: $black;
    line-height: $line-height-headlines-px;

    a {
      transition: 0.3s;
    }

    a:hover {
      color: $green;
    }
  }


  .product_description {
    text-align: center;
    max-width:760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    h4 {
      margin-bottom: 30px;
    }
  }

  .my-input  {
    width: 100%;
    border: solid 1px $grey;
    padding: 10px;
    margin-bottom: 20px;
  }

  .my-input:hover {
    border: solid 1px $green;
  }

  .product_grid_2 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product_hero {
    background-color: $lightgrey;
    max-height: 600px;
    padding: 0 60px 0;
    overflow: hidden;
    margin-bottom: 90px;


    .product_image {
      float: left;
      width: 58.33333%;
    }

    .product_details {
      width: 35%;
      float: left;
      text-align: center;
      padding: 40px;
      margin: 8% auto;
    }

    input.button_primary  {
      margin: 24px 0px 0px 0px;
      width: 100%;
      color: $black;
      background-color: $green;
      border: none;
      padding: 10px 0 8px 0;
      display: block;
      text-transform: uppercase;
      font-family: $fontpro;
      font-weight: $font-weight-black;
      font-size:$font-size-links-px;
      transition: 0.3s;
      max-width: 100%;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .button_primary:hover  {
      background-color: $hovergreen;
    }

    img {
      max-height: 600px;
    }
  }

  .quote {
    font-style: italic;
    max-width: 568px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    p {
      font-style: normal;
      font-size: 13px;
    }
  }

  .quote_leftaligned {
    font-style: italic;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;

    p {
      font-style: normal;
      font-size: 13px;
    }
  }

  .visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1.6s ease;
  }

  .block_1 {
    padding-top: 100px;
  }

  .fade {
  opacity: 0.03;
  }


  div.loader {
    background-color: $white;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 12;
    transition: opacity 2s ease;
  }

  @keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }

  @keyframes moveX {
    from { left: 0; } to { left: 100%; }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg)
    };

    100% {
      transform: rotate(360deg)
    };
  }

  div.loader.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .loader img {
    animation: moveY 3s linear infinite alternate, moveX 3.75s linear infinite alternate, rotate 10s linear infinite;
    width: 50px;
    height: 50px;
    position: absolute;
  }


  .success,
  .error  {
    text-align: center;
    margin-top: 20px;
  }


  .error,
  #card-errors {
    color: $errorred;
  }

  .product_extraimages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:90px;

    .product_extraimage {
      max-width: 33.333%;
    }
  }

  .newsletter_copy {
    max-width: 760px;
    text-align: center;
    margin: 40px auto 40px auto;
  }

  form.simple_form.newsletter {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;

    .newsletter_flash {
      text-align: center;
    }

    input {
      margin-bottom: 20px;
      height:40px;

    }

    input.btn.button_primary  {
      margin: 0px;
      transition: 0.3s;
      width: 200px;
      height:40px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    input.btn.button_primary:hover {
      background-color: $hovergreen;
      cursor: pointer;
    }
  }

   h6 a:after {
        content: " / ";
    }

   h6 a:last-child:after {
    content: " ";
  }

  .link {
    margin-top: 40px;
    font-family: $fontpro;
    font-weight: $font-weight-black;
  }

  .basket_empty {
    text-align: center;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    min-height:800px;
  }

  div.newsletter_first_name,
  div.newsletter_last_name {
    width: 20%;
    margin-right: 20px;
  }

  div.newsletter_email {
    width: 30%;
    margin-right: 20px;
  }

  .smallprint {
    font-size: $font-size-links-px;
    text-align: center;
    font-style: italic;
    margin: 10px 0 0 0;
  }

  div.quantity {
    min-width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    margin:20px auto;
  }

  div.product_variant {
    width: 100%;
    position: relative;
  }

  .product_variant:after {
    content: "";
    position: absolute;
    right: 5%;
    top: 45%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
  }


  select#order_item_product_variant_id,
  select#order_country,
  select#order_delivery_country {
    display: inline-block;
    font-size: 13px;
   	border: solid 1px $grey;
    background-color: $white;
    border-radius: 0;
    transition: 0.3s;
    width: 100%;
    height: 40px;
  }


  div.order_country,
  div.order_delivery_country {
    position: relative;
  }

  div.order_country:after,
  div.order_delivery_country:after {
    content: "";
    position: absolute;
    right: 3%;
    top: 67%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
  }

  select#order_item_product_variant_id:hover,
  input#order_item_quantity:hover,
  select#order_country:hover,
  select#order_delivery_country:hover {
   	border: solid 1px $green;
  }

  select#order_item_product_variant_id:focus,
  input#order_item_quantity:focus,
  select#order_country:focus,
  select#order_delivery_country:focus {
   	border: solid 1px $green;
    outline: none;
  }

  input#order_item_quantity {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    border: solid 1px $grey;
    background-color: $white;
    border-radius: 0;
    transition: 0.3s;
    height: 40px;
    width:30%;
  }

  label {
    margin-right: 3%;
  }

  .text_link {
    font-size: 13px;
    padding: 0 0 10px 30px;
  }

  .margin_top_30 {
    margin-top:30px;
  }


  input#order_subscribe {
    width:20px;
    padding:0;
    margin: 0 5px 0px 0px;
  }

  .billing_address,
  .delivery_address,
  .your_order {
    margin-top: 30px;

     div {
      margin: 20px auto;
    }
  }

  .payment {
    margin: 30px auto;

      p {
      margin: 0px auto 20px;
    }
   }

   .order_confirmation {
     max-width:960px;
     margin: 0 auto;
     text-align:center;
     margin-bottom:90px;

     h2 {
       padding: 10px 0px 10px 0;
     }
   }

   .order_details {
     margin: 20px auto;
     font-family: $fontpro;
     font-weight: $font-weight-black;

     p {
       font-weight: $font-weight-regular;
     }
   }


   .basket {
     min-height: 800px;
     margin: 90px auto 90px auto;
     max-width: 960px;
     padding: 0 20px 0 20px;
   }

   .quantity_basket {

     input#order_item_quantity {
       width: 50px;
       float:left;
     }

     input.btn.button_basket {
       width: 100px;
       background-color: transparent !important;
     }

     input.btn {
       border: none;
       cursor:pointer;
       font-size: 13px;
       margin-top: 3px;
       text-decoration: underline;
       background-color: transparent !important;
     }
   }

   .price_basket {
      text-align:right;

      a {
        text-decoration: underline;
        font-size: 13px;
      }
    }

    .total_price_basket {
      text-align: right;
      margin-top:20px;

      .subtotal,
      .delivery {
        font-size:$font-size-body-px;
      }

      .total {
        font-family: $fontpro;
        font-size: $font-size-h5-px;
        font-weight: $font-weight-black;
      }
    }

    .share {
      display: flex;
      flex-wrap: wrap;
      text-decoration: none;
      align-items: center;
      line-height: 1px;
      border-bottom: 1px dashed rgb(0, 0, 0);
      padding: 20px 0px 40px 0px;

      a {
        margin-left:10px;
      }

      img {
        width:22px;
      }

      p {
        display:inline-block;
        font-family: $fontpro;
        font-weight:$font-weight-black;
      }
    }

    .featured {
      margin-bottom: 90px;
    }

    .checkout h2 {
      text-align: center;
      padding:10px 0px 10px 0;
    }

    footer {

      font-size: $font-size-h6-px;

      p {
      display: inline-block;
      }

      a {
        color: $white;
        transition: 0.3s;
      }

      a:hover {
        color:$green
      }
    }

    .captions  {
      margin-top:10px;
      font-size:  $font-size-captions-px;
      font-style: italic;
    }

    footer p:after {
      content: "|";
      margin-left:10px;
      margin-right:10px;
    }

    .social {
      margin-bottom:20px;

      img {
        margin-left:5px;
        margin-right:5px;
        transition:0.3s;
      }

      a:hover img {
          transform: scale(0.8);
        }
      }

    .contact_email {
      text-align:center;
      padding: 20px 20px 60px 20px;

      a {
        color: $black;
        font-family: $fontpro;
        font-size: $font-size-h3-px;
        font-weight: $font-weight-black;
        text-align: center;
        transition: 0.3s;
      }

      a:hover {
        color: $green;
      }

    }

    .event {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .container_top {
      margin-top: 120px;
    }

    h6.stories-cat {
      display: inline-block;
      border-bottom: solid 1px $white;
      margin-bottom: 30px;
    }

    h2.stories-head {
      margin-bottom: 25px;
    }


  @media (max-width: 800px) {

    .arrow {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 35%;
      cursor: pointer;
    }

    .open nav a {
      transform: translateX(0);
      opacity: 1;
      transition: all 0.3s;
      border-bottom: none;
    }

    .open nav a:hover {
      border-bottom: none;
      opacity: 0.5;
    }

    .product_hero {
      margin-bottom: 40px;
      padding: 20px 20px;
      max-height: 100%;

      .product_image {
        float: none;
        margin: 0px;
        width:100%;
        padding: 0px 0px 20px 0px;
      }

      .product_details {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0px 0px 20px 0px;
        margin: 0px;
      }
    }
  }

  @media (max-width: 750px) {

  .container,
  .container_2 {
    display: flex;
    flex-direction: column;
    margin-bottom:40px;
    margin-top: 40px
  }

  .container_top {
    margin-top: 80px;
  }

  .block_2 {
    flex-direction: column-reverse;
   }

  .block-image-left,
  .block-image-right,
  .block-copy {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 40px;
   }

   .contact_email {
     a {
       font-size: $font-size-h4-px;
     }
   }
 }

  @media (max-width: 534px) {

    .big_link {
      width:100%;
    }

    .products_hero {
      text-align: center;
      background-image:image-url('lifestyle.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 150px;
      padding-bottom: 150px;
      margin-bottom: 40px;
    }

    .home_hero {
      background-image: image-url('image_shirt.jpg');
      margin-bottom: 0px;
    }


    .intro {
      margin-bottom: 0px;
    }

    h2 {
      font-size: 42px
    }

    .product_grid_3 {
  	  display: flex;
      flex-direction: column;
	   }

    .grid_single {
      margin-bottom: 40px;
    }


    form.simple_form.newsletter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:100%;

      input.btn.button_primary  {
        width: 100%;
      }
    }

    div.newsletter_first_name,
    div.newsletter_last_name,
    div.newsletter_email {
     width: 100%;
     margin-right: 0px;
    }


     div.active {
      margin-bottom: 40px;
    }

    .basket table {

      tr td {
      display:block;
      clear:both;
      width: 100%;
      text-align: left;
      padding:5px 0px;
      }

      thead {
        display: none;
      }
    }

    td.basket_item {
      margin-top:40px;
      margin-bottom:0px;
      padding: 0px;
    }

    .quantity_basket {

      input.btn.button_basket {
        width: 100%;
        padding:20px 0px 0px 0px;
        background-color: transparent;
      }

      input.btn {
        text-align: left;
        padding:20px 0px 0px 0px;
        background-color: transparent !important;
      }
    }

    .total_price_basket {
      text-align: center;
    }

    .basket,
    .basket_empty {
      min-height: 0;
    }


    .product_hero {
      margin-bottom: 40px;
      padding: 20px 20px;
      max-height: 100%;

      .product_image{
        float: none;
        margin: 0px;
        width:100%;
        padding: 0px 0px 20px 0px;
      }

      .product_details {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0px 0px 20px 0px;
        margin: 0px;
      }
    }

    .product_extraimages .product_extraimage {
      max-width: 100%;
    }

    .contact_email {

      a {
        font-size: $font-size-h5-px;
      }
    }
  }
