@font-face {
  font-family: Geomanist-Regular;
  src: url("fonts/Geomanist-Regular.otf"); }

@font-face {
  font-family: Geomanist-Bold;
  src: url("fonts/Geomanist-Bold.otf"); }

  $green: #7ed321;
  $hovergreen: #6CAF22;
  $black: #000000;
  $white: #ffffff;
  $lightgrey: #f7f7f7;
  $grey: #cbcbcb;
  $errorred: #EE3322;


  $font: "Geomanist", Helvetica, Arial, sans-serif;

  $font-size-h1-px:60px;
  $font-size-h2-px:52px;
  $font-size-h3-px:40px;
  $font-size-h4-px:32px;
  $font-size-h5-px:24px;
  $font-size-h6-px:13px;
  $font-size-body-px: 17px;
  $font-size-links-px: 13px;
  $font-size-captions-px: 11px;


  $line-height-body-px: 1.8;
  $line-height-headlines-px: 1.2;

  $font-weight-bold: 600;
  $font-weight-regular: 400;
  $font-weight-light: 200;


  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  input {
    border: 1px solid $lightgrey;
    border-style: none;
    border-color: none;
    border-image: none;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $grey;
  }

  input:focus {
	  border: 1px solid $green;
	  outline: 0;
	  border-radius: 0;
    box-shadow: none;
  }

  input:visited {
    box-shadow: none;
    border: 1px solid $black;
    outline: 0;
    border-radius: 0;
  }

  select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid 1px $grey;
    height: 40px;
    overflow: visible;
    text-decoration: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: black;
    background: none;
    -webkit-appearance: none;
    border-radius: 0;
    width:100%;
    padding: 8px 15px;
    text-transform: uppercase;
  }

  select:hover {
    border: solid 1px $green;
    outline:none;
  }

  select:focus {
    border: solid 1px $green;
    outline:none;
  }

  form abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }

  body {
  	font-family: $font;
   	font-weight: $font-weight-regular;
  	font-size: $font-size-body-px;
  	line-height: $line-height-body-px;
  	background-color: $white;
  	color: $black;
  }

  h1, h2, h3, h4, h5, h6 {
  	color: $black;
    line-height: $line-height-headlines-px;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: $font-size-h2-px;
    font-weight: $font-weight-bold;
  }

  h3 {
    font-size: $font-size-h3-px;
    font-weight: $font-weight-bold;
  }

  h4 {
    font-size: $font-size-h4-px;
    font-weight: $font-weight-bold;
  }

  h5 {
    font-size:$font-size-h5-px;
    font-weight: $font-weight-bold;
  }

  h6 {
    font-size:$font-size-h6-px;
    font-weight: $font-weight-regular;
  }


  ol, ul {
    list-style: none;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  div.active {

    text-align: center;
    margin-bottom: 60px;
    position: relative;

    a {
        color: $grey;
        font-weight: $font-weight-bold;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
      }

      a.active {
        color: $black;
        border-bottom: 2px solid $black;
        padding-bottom: 3px;
      }
  }


  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }

  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  img, iframe {
    vertical-align: bottom;
    max-width: 100%;
  }

  input, textarea, select {
    font: inherit;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  table {
    width: 100%;

    th {
      text-align: left;
    }

    th, td {
      vertical-align: middle;
    }

    thead  {
      border-bottom: 2px solid $lightgrey;
      padding: 0 0 20px 0;
    }

    tbody th, tbody td {
      padding: 10px 0 10px 0;
    }

    td img {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }


  header, footer {
    padding: 30px;
  }

  header {
    padding: 40px 40px 50px 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index:4;
    background-color: $white;

    nav a {
      padding-left: 20px;
    }

    nav img {
      padding-bottom: 5px;
    }
  }

  footer {
    background-color: $black;
    color: $white;
    text-align: center;
    margin-top: 90px;
  }

  .top_container {
    min-height: 40px;
  }

  .hero {
 	  display: flex;
 	  width: 100%;
    height: 100vh;
    justify-content: center;
 	  align-items: center;
    position: fixed;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s;
    padding-left: 20px;
    padding-right: 20px;
  }

  .price h5 {
    font-weight: $font-weight-regular;
    margin: 20px 0px 20px 0px;
  }

  .products_hero {
    text-align: center;
    background-image:url(../assets/lifestyle.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;
    margin-bottom: 90px;

    h2 {
      color: $white;
    }
  }

  .container {
    margin: 0px auto 90px auto;
    max-width: 1160px;
    padding: 0 20px 0 20px;
  }

  .container_2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto 90px auto;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    margin: 30px auto 30px auto;
    max-width: 760px;
  }

  .intro {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      margin: 10px 0px 10px 0;
    }

    h6 {
      margin: 10px 0px 10px 0;
    }

    p {
      max-width: 760px;
      margin: 0 auto 10px auto;
      text-align: center;
    }
  }

  .product_grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;

    .product {
      display: block;
      border-bottom: none;
      color: $white;
      padding: 10px;
      font-size: $font-size-h6-px;
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    h5 {
      margin: 10px 0px 0px 0px;
    }

    img {
      margin-bottom: 20px;
    }

    .button_secondary {
      margin-top: 0px;
      color: $black;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: $font-size-links-px;
      line-height: 5.25;

      img {
        margin-left: 5px;
      }
    }
  }

  .grid_single {
    border: 1px solid transparent;
    padding: 10px;
    transition: all 0.3s;
  }

  .grid_single:hover {
      border: 1px solid $green;
      padding: 10px;
  }

  .block-copy {
    width: 45%;

    h4 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .block-image-right {
    width: 45%;
    margin-left: 10%;
  }

  .block-image-left {
    width: 45%;
    margin-right: 10%;
  }

  .button_primary  {
    margin-top: 24px;
    color: $black;
    background-color: $green;
    border: none;
    padding: 10px 0px 8px 0px;
    display: block;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size:$font-size-links-px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }

  .button_primary:hover  {
    background-color: $hovergreen;
  }

  .button_secondary  {
      margin-top: 0px;
      color: $black;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: $font-size-links-px;
      line-height: 5.25;
      cursor: pointer;

      a {
        transition: all 0.3s;
      }

      img {
        margin-left: 5px;
        margin-bottom: 20px;
        transition: all 0.3s;
      }
  }

  .button_secondary:hover  {

    a {
      transition: all 0.3s;
      color: $green;
    }

    img {
      transform: translate(5px,0);
    }
  }


  .button_secondary_left  {
      margin-top: 0px;
      color: $black;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: $font-size-links-px;
      line-height: 5.25;
      cursor: pointer;

      a {
        transition: all 0.3s;
      }

      img {
        margin-right: 5px;
        margin-bottom: 20px;
        transition: all 0.3s;
      }
  }

  .button_secondary_left:hover  {

    a {
      transition: all 0.3s;
      color: $green;
    }

    img {
      transform: translate(-5px,0);
    }
  }

  .arrow {
    padding-left: 5px;
 	  transition: all 0.3s ease-in-out;
  }

  .featured h4 {
    text-align: center;
    margin-bottom: 30px;
  }

  .product_description {
    text-align: center;
    max-width:760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    h4 {
      margin-bottom: 30px;
    }
  }

  .my-input {
    width: 100%;
    border: solid 1px $lightgrey;
    padding: 10px;
    margin-bottom: 20px;
  }

  .product_grid_2 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product_hero {
    background-color: $lightgrey;
    max-height: 600px;
    padding: 0 60px 0;
    overflow: hidden;
    margin-bottom: 90px;


    .product_image {
      float: left;
      width: 58.33333%;
    }

    .product_details {
      width: 35%;
      float: left;
      text-align: center;
      padding: 40px;
      margin: 8% auto;
    }

    .button_primary  {
      margin: 24px 0px 0px 0px;
      width: 100%;
      color: $black;
      background-color: $green;
      border: none;
      padding: 10px 0 8px 0;
      display: block;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size:$font-size-links-px;
      transition: 0.3s;
      max-width: 100%;
      text-align: center;
      cursor:pointer;
    }

    .button_primary:hover  {
      background-color: $hovergreen;
    }

    img {
      max-height: 600px;
    }
  }

  .quote {
    font-style: italic;
    max-width: 568px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    p {
      font-style: normal;
      font-size: 13px;
    }
  }

  .visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1.6s ease;
  }

  .block_1 {
    padding-top: 1000px;
  }

  .fade {
  opacity: 0.03;
  }

  .menu-toggle {
    position: fixed;
    top: 0;
    left: 0;
    padding: 22px 20px;
    width: 100px;
    z-index: 6;
    cursor: pointer;

    img.close {
      display: none;
    }

    &.open {
      img.close {
        display: inline;
      }

      img.icon {
        display: none;
      }
    }
  }

  .cart {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 30px 20px;
    font-weight: 600;
    line-height: 1;
    z-index: 4;

    img {
      padding-right: 5px;
    }
  }

  .menu {
    background-color: $black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.06, 0.17, 0.2, 1);
    z-index: 5;
  }

  .open {
    transform: translateX(0);
  }

  .menu nav {
    position: absolute;
	  text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
  }

  .menu nav a {
    font-size: $font-size-h4-px;
 	  font-weight: $font-weight-bold;
    line-height: $line-height-body-px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: $white;
    text-decoration: none;
    text-align: center;
    padding:0;
    opacity: 0;
    transform: translateX(-100px);
 	  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .open nav a:nth-child(1) {
    transition-delay: 0.2s;
  }

  .open nav a:nth-child(2) {
    transition-delay: 0.3s;
  }

  .open nav a:nth-child(3) {
    transition-delay: 0.4s;
  }

  .open nav a:nth-child(4) {
    transition-delay: 0.5s;
  }

  .open nav a {
    transform: translateX(0);
    opacity: 1;
  	transition: all 0.3s;
  	border-bottom: 2px solid transparent;
  	padding-bottom: 1px;
  }

  .open nav a:hover {
    border-bottom: 2px solid $white;
  }


  div.header2 {
    max-width: 130px;
    overflow: hidden;
    margin: 0px auto 80px auto;

    h1.logo {
      padding: 0;
      text-align: center;
      position: fixed;
      top: 4%;
      z-index:5;
    }
  }

  .success,
  .error  {
    text-align: center;
    margin-top: 20px;
  }


  .error,
  #card-errors {
    color: $errorred;
  }

  .product_extraimages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:90px;

    .product_extraimage {
      max-width: 33.333%;
    }
  }

  .newsletter_copy {
    max-width: 760px;
    text-align: center;
    margin: 40px auto 40px auto;
  }

  form.simple_form.newsletter {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    .newsletter_flash {
      text-align: center;
    }

    input {
      margin-bottom: 20px;
      height:40px
    }

    input.btn.button_primary  {
      margin: 0px;
      transition: 0.3s;
      width: 200px;
      height:40px;
    }

    input.btn.button_primary:hover {
      background-color: $hovergreen;
      cursor: pointer;
    }
  }

   h6 a:after {
        content: " / ";
    }

   h6 a:last-child:after {
    content: " ";
  }

  .link {
    margin-top: 40px;
    font-weight: $font-weight-bold;
  }

  .basket_empty {
    text-align: center;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    min-height:800px;
  }

  div.newsletter_first_name,
  div.newsletter_last_name {
    width: 20%;
    margin-right: 20px;
  }

  div.newsletter_email {
    width: 30%;
    margin-right: 20px;
  }

  .smallprint {
    font-size: $font-size-links-px;
    text-align: center;
    font-style: italic;
    margin: 10px 0 0 0;
  }

  div.quantity {
    min-width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    margin:20px auto;
  }

  div.product_variant {
    width: 100%;
    position: relative;
  }

  .product_variant:after {
    content: "";
    position: absolute;
    right: 5%;
    top: 45%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
  }


  select#order_item_product_variant_id,
  select#order_country,
  select#order_delivery_country {
    display: inline-block;
    font-size: 13px;
   	border: solid 1px $grey;
    background-color: $white;
    border-radius: 0;
    transition: 0.3s;
    width: 100%;
    height: 40px;
  }


  div.order_country,
  div.order_delivery_country {
    position: relative;
  }

  div.order_country:after,
  div.order_delivery_country:after {
    content: "";
    position: absolute;
    right: 3%;
    top: 67%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
  }

  select#order_item_product_variant_id:hover,
  input#order_item_quantity:hover,
  select#order_country:hover,
  select#order_delivery_country:hover {
   	border: solid 1px $green;
  }

  select#order_item_product_variant_id:focus,
  input#order_item_quantity:focus,
  select#order_country:focus,
  select#order_delivery_country:focus {
   	border: solid 1px $green;
    outline: none;
  }

  input#order_item_quantity {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    border: solid 1px $grey;
    background-color: $white;
    border-radius: 0;
    transition: 0.3s;
    height: 40px;
    width:30%;
  }

  label {
    margin-right: 3%;
  }

  .text_link {
    font-size: 13px;
    padding: 0 0 10px 30px;
  }

  .checkbox {
    margin-top:30px;
  }

  input#order_subscribe {
    width:20px;
    padding:0;
    margin: 0 5px 0px 0px;
  }

  .billing_address,
  .delivery_address,
  .your_order {
    margin-top: 30px;

     div {
      margin: 20px auto;
    }
  }

  .payment {
    margin: 30px auto;

      p {
      margin: 0px auto 20px;
    }
   }

   .order_confirmation {
     max-width:960px;
     margin: 0 auto;
     text-align:center;
     margin-bottom:90px;

     h2 {
       padding: 10px 0px 10px 0;
     }
   }

   .order_details {
     margin: 20px auto;
     font-weight: $font-weight-bold;

     p {
       font-weight: $font-weight-regular;
     }
   }


   .basket {
     min-height: 800px;
     margin: 0px auto 90px auto;
     max-width: 960px;
     padding: 0 20px 0 20px;
   }

   .quantity_basket {

     input#order_item_quantity {
       width: 50px;
       float:left;
     }

     input.btn.button_basket {
       width: 100px;
     }

     input.btn {
       border: none;
       cursor:pointer;
       font-size: 13px;
       margin-top: 3px;
       text-decoration: underline;
     }
   }

   .price_basket {
      text-align:right;

      a {
        text-decoration: underline;
        font-size: 13px;
      }
    }


    .total_price_basket {
      text-align: right;
      margin-top:20px;

      .subtotal,
      .delivery {
        font-size:$font-size-body-px;
      }

      .total {
        font-size: $font-size-h5-px;
        font-weight: $font-weight-bold;
      }
    }

    .share {
      display: flex;
      flex-wrap: wrap;
      text-decoration: none;
      align-items: center;
      line-height: 1px;
      border-bottom: 1px dashed rgb(0, 0, 0);
      padding: 20px 0px 40px 0px;

      a {
        margin-left:10px;
      }

      img {
        width:22px;
      }

      p {
        display:inline-block;
        font-weight:$font-weight-bold;
      }
    }

    .featured {
      margin-bottom: 90px;
    }

    .checkout h2 {
      text-align: center;
      padding:10px 0px 10px 0;
    }

    footer {

      font-size: $font-size-h6-px;

      p {
      display: inline-block;
      }

      a {
        color: $white;
      }
    }

    .captions  {
      margin-top:10px;
      font-size:  $font-size-captions-px;
      font-style: italic;
    }

    footer p:after {
      content: "|";
      margin-left:10px;
      margin-right:10px;
    }


  @media (max-width: 800px) {

    .product_hero {
      margin-bottom: 40px;
      padding: 20px 20px;
      max-height: 100%;

      .product_image {
        float: none;
        margin: 0px;
        width:100%;
        padding: 0px 0px 20px 0px;
      }

      .product_details {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0px 0px 20px 0px;
        margin: 0px;
      }
    }
  }


  @media (max-width: 534px) {

    h2 {
      font-size: 48px
    }

    .product-hero {
      text-align: center;
      background-image:url(../assets/lifestyle.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 150px;
      padding-bottom: 150px;
      margin-bottom: 40px;

      h2 {
        color: $white;
      }
    }

    .product_grid_3 {
  	  display: flex;
      flex-direction: column;
	   }

    .grid_single {
      margin-bottom: 40px;
    }


    form.simple_form.newsletter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:100%;

      input.btn.button_primary  {
        width: 100%;
      }
    }

    div.newsletter_first_name,
    div.newsletter_last_name,
    div.newsletter_email {
     width: 100%;
     margin-right: 0px;
    }

    .container,
    .container_2 {
  	  display: flex;
      flex-direction: column;
      margin-bottom:40px;
	  }

    .block_2 {
      flex-direction: column-reverse;
	   }

	  .block-image-left,
    .block-image-right,
    .block-copy {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 40px;
	   }

     div.active {
      margin-bottom: 40px;
    }

    .basket table {

      tr td {
      display:block;
      clear:both;
      width: 100%;
      text-align: left;
      padding:5px 0px;
      }

      thead {
        display: none;
      }
    }

    td.basket_item {
      margin-top:40px;
      margin-bottom:0px;
      padding: 0px;
    }

    .quantity_basket {

      input.btn.button_basket {
        width: 100%;
        padding:20px 0px 0px 0px;
      }

      input.btn {
        text-align: left;
      }
    }

    .total_price_basket {
      text-align: center;
    }

    .basket,
    .basket_empty {
      min-height: 0;
    }


    .product_hero {
      margin-bottom: 40px;
      padding: 20px 20px;
      max-height: 100%;

      .product_image{
        float: none;
        margin: 0px;
        width:100%;
        padding: 0px 0px 20px 0px;
      }

      .product_details {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0px 0px 20px 0px;
        margin: 0px;
      }
    }

    .product_extraimages .product_extraimage {
      max-width: 100%;
    }
  }
