<div>
 <%= link_to product_path(product) do %>
    <%= image_tag product.image_1.medium %>
 <% end %>

 <h5><%= link_to product.title, product_path(product) %></h5>
  <p>
    <%= number_to_currency product.price_in_pounds, unit: "£" %>
  </p>
</div>
