<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<div class="product-hero">
  <h2>Collection 2017 coming soon</h2>
</div>

<div class="container">
  <div class="product_grid_3">
    <%= render partial: "product", collection: @products %>
  </div>
</div>
