<div class="product-hero">
  <h2>Collection 2017 coming soon</h2>
</div>

<section class="container">
  <div class="product_grid_3">
    <%= render partial: "product", collection: @products %>
  </div>
</section>
